table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 500px;
}

th,td {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.Section {
  padding-right: 500px;
  padding-top: 5%;
}