
<section class="Section">
    <h2>Fair Billing Report</h2>
    <table class="table-hover table-striped">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Login Count</th>
          <th>Total Duration(hh:mm:ss)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logdata of outputdata">         
          <td>{{logdata.username}}</td>
          <td>{{logdata.logincount}}</td>
          <td>{{logdata.totalduration}}</td>
        </tr>
      </tbody>
    </table>
  </section>
